@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;900&display=swap");
@use 'base';
:root {
  --green: #4d96a8;
  --violet: #845eb0;
  --black: #28283e;
  --gray: #86869c;
  --blue: #90e4f9;
  --mauve: #d9b8ff;
  --white: #fafafa;
}

body {
  padding: 0;
  margin: 0;
  background: #fafafa;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #86869c;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 64px;
  letter-spacing: 0px;
  color: #28283e;
}

h2 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 44px;
  letter-spacing: 0px;
  color: #28283e;
}

.overline {
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 26px;
  letter-spacing: 4px;
  color: #4d96a8;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) and (min-width: 375px) {
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 48px;
    line-height: 48px;
  }
  h2 {
    font-size: 44px;
    margin: 0px 0px;
  }
}

@media screen and (max-width: 376px) and (min-width: 0px) {
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 36px;
    margin: 0px 0px;
  }
}

.btn {
  border-radius: 29px;
  color: #fafafa;
  border: none;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 16px;
  cursor: pointer;
}

.btn.primary {
  background: #4d96a8;
  -webkit-transition: opacity 0.1s ease-in;
  transition: opacity 0.1s ease-in;
  padding: 16px 40px 16px 40px;
}

.btn.primary span {
  color: #90e4f9;
}

.btn.primary:hover {
  background: #71C0D4;
}

.btn.secondary {
  background: #845eb0;
  -webkit-transition: opacity 0.1s ease-in;
  transition: opacity 0.1s ease-in;
  padding: 16px 29px 16px 29px;
}

.btn.secondary span {
  color: #d9b8ff;
}

.btn.secondary:hover {
  background: #B18BDD;
}

.step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.step__line {
  border-left: 1px solid #D8D8D8;
  height: 84px;
}

.step__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 29px;
  border: 1px #D8D8D8 solid;
  padding: 20px 17.4px;
  height: 54px;
  font-family: "Red Hat Display", sans-serif;
  font-weight: bold;
  color: #86869c;
  background: #fafafa;
  font-size: 16px;
}

.container {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 770px) and (min-width: 376px) {
  .container-header {
    max-width: 425px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 376px) and (min-width: 0px) {
  .container-header {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
  .container {
    max-width: 327px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 125px;
}

.header .top {
  padding-top: 80px;
  padding-bottom: 60px;
  text-align: center;
}

.header .top img {
  width: 119px;
  max-height: 28px;
}

.header .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 88px;
}

.header .hero__img--left, .header .hero__img--right {
  width: 380px;
  height: 303px;
}

.header .hero__img--left {
  background-image: url("../img/desktop/image-hero-left.png");
  background-size: cover;
  background-repeat: no-repeat, no-repeat;
  background-position: 100% 50%;
}

.header .hero__img--right {
  background-image: url("../img/desktop/image-hero-right.png");
  background-size: cover;
  background-repeat: no-repeat, no-repeat;
  background-position: 0% 50%;
}

.header .hero__img--responsive {
  display: none;
  background-image: url("../img/tablet/image-hero.png");
  max-width: 100%;
  height: 153px;
  background-size: cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center;
}

.header .hero .container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 540px;
  text-align: center;
}

.header .hero .container-header > p {
  margin-bottom: 32px;
}

.header .hero .content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .hero .content-header > h1 {
  text-align: center;
  max-width: 445px;
}

.header .hero__callsOfActions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
}

@media screen and (max-width: 770px) and (min-width: 376px) {
  .header {
    margin-bottom: 80px;
  }
  .header .top {
    padding-top: 48px;
    padding-bottom: 64px;
  }
  .header .hero {
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: inherit;
        -ms-flex-pack: inherit;
            justify-content: inherit;
    text-align: center;
  }
  .header .hero p {
    margin-top: 0px;
    margin-bottom: 32px;
  }
  .header .hero__img--left, .header .hero__img--right {
    display: none;
  }
  .header .hero__img--responsive {
    display: block;
    margin-bottom: 72px;
    height: 303px;
  }
  .header .hero__callsOfActions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .hero .container-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .hero .container-header > h1 {
    margin-bottom: 24px;
    max-width: 327px;
  }
  .header .hero .container-header > p {
    max-width: 430px;
  }
}

@media screen and (max-width: 376px) and (min-width: 0px) {
  .header {
    margin-bottom: 64px;
  }
  .header .top {
    padding-top: 48px;
    padding-bottom: 54px;
  }
  .header .hero {
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: inherit;
        -ms-flex-pack: inherit;
            justify-content: inherit;
    text-align: center;
  }
  .header .hero p {
    margin-top: 24px;
    margin-bottom: 32px;
  }
  .header .hero__img--left, .header .hero__img--right {
    display: none;
  }
  .header .hero__img--responsive {
    display: block;
    margin-bottom: 48px;
  }
  .header .hero__callsOfActions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .hero .container-header {
    max-width: 327px;
    margin: 0 auto;
  }
  .header .hero .content-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main {
  margin-bottom: 80px;
}

.main .group-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 64px;
  gap: 30px;
}

.main .group-img__single {
  width: 255px;
  border-radius: 8px;
}

.main .introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .introduction > .overline {
  margin-bottom: 25px;
}

.main .introduction > h2 {
  margin-bottom: 35px;
  max-width: 445px;
}

@media screen and (max-width: 770px) and (min-width: 376px) {
  .main {
    margin-bottom: 64px;
  }
  .main .step {
    margin-bottom: 67px;
  }
  .main .group-img {
    gap: 11px;
  }
  .main .group-img__single {
    width: 164px;
    border-radius: 8px;
  }
  .main .introduction {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 573px;
    margin-left: auto;
    margin-right: auto;
  }
  .main .introduction > .overline {
    margin-bottom: 16px;
  }
  .main .introduction > h2 {
    margin-bottom: 32px;
    max-width: 460px;
  }
}

@media screen and (max-width: 376px) and (min-width: 0px) {
  .main .group-img {
    margin-top: 64px;
    margin-bottom: 64px;
    gap: 25px;
  }
  .main .group-img__single {
    width: 151px;
    border-radius: 8px;
  }
  .main .introduction {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 64px;
    padding: 0 24px;
  }
  .main .introduction > p {
    margin-top: 35px;
    margin-bottom: 0px;
  }
}

.footer .step {
  top: 25px;
  z-index: 5555;
  right: 0;
  left: 0;
}

.footer .intro-bottom {
  position: relative;
  padding-top: 116px;
  padding-bottom: 104px;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .intro-bottom > h2 {
  color: #fafafa;
  max-width: 350px;
}

.footer .intro-bottom > p {
  color: #fafafa;
  margin-top: 0px;
  font-size: 18px;
  line-height: 26px;
  max-width: 350px;
}

.footer .intro-bottom > button.btn.secondary {
  width: 193px;
}

.footer__background {
  position: relative;
  background-image: url("../img/desktop/image-footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.footer__background:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background-color: #4d96a8;
}

@media screen and (max-width: 770px) and (min-width: 376px) {
  .footer .step {
    top: 25px;
    z-index: 5555;
    right: 0;
    left: 0;
  }
  .footer .intro-bottom {
    padding-top: 93px;
    padding-bottom: 66px;
    text-align: center;
    max-width: 573px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .intro-bottom > h2 {
    color: #fafafa;
    margin-bottom: 32px;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer .intro-bottom > p {
    color: #fafafa;
    margin-bottom: 40px;
    margin-top: 0px;
    font-size: 18px;
    line-height: 26px;
    max-width: inherit;
  }
  .footer__background {
    position: relative;
    background-image: url("../img/tablet/image-footer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .footer__background:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background-color: #4d96a8;
  }
}

@media screen and (max-width: 376px) and (min-width: 0px) {
  .footer .step {
    top: 25px;
    z-index: 5555;
    right: 0;
    left: 0;
  }
  .footer .intro-bottom {
    padding: 92px 24px 72px 24px;
    text-align: center;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .intro-bottom > h2 {
    color: #fafafa;
    margin-bottom: 24px;
  }
  .footer .intro-bottom > p {
    color: #fafafa;
    margin-bottom: 32px;
    margin-top: 0px;
  }
  .footer__background {
    position: relative;
    background-image: url("../img/mobile/image-footer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .footer__background:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background-color: #4d96a8;
  }
}
/*# sourceMappingURL=style-base.css.map */